<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Solution App - JavaScript Tests</title>
    <%= stylesheet_link_tag 'testsuite' %>
    <%= javascript_include_tag 'jquery', 'jquery.livequery.js', 'jqunit', 'solutions_grid', 'tests' %>
  </head>
  <body id="body">
    <h1 id="header">SolutionGrid JavaScript Tests</h1>

    <h2 id="banner"></h2>
    <h2 id="userAgent"></h2>

    <div id="main">
      <div id="data" style=''>
        <%= show_filter(@table, true) %>
        <%= show_grid(@table) %>
      </div>
    </div>

    <ol id="tests"></ol>
  </body>
</html>